# =========================
# Python
# =========================
**pycache**/
*.pyc
*.pyo
*.pyd
# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
# =========================
# Data Files (Excluded)
# =========================
*.csv
*.xlsx
*.sql
*.db
# =========================
# macOS System Files
# =========================
.DS_Store
# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
# =========================
# Logs
# =========================
*.log
